.main-header{
    background-color: #DC3545;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 24px;
    line-height: 32.78px;
    padding-top: .75em;
    padding-left: .5em;
    padding-bottom: .5em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}

.main-side{
    border: 1px solid #EDEFF0;
    border-top: 0px;
}

.main-side .col-12{
    border: 1px solid #EDEFF0;
}

.project-section p{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.59px;
}

.sub-section ul{
    padding-right: 2rem;
}



.main-side-header img{
    width: 24px;
    margin-right: 1.2rem;
    margin-left: .5rem;
}

.main-side-header h4{
    display: inline;
    margin: 0;
    vertical-align: middle;
}

.informacion{
    border: 1px solid #EDEFF0;
    border-top: 0px;
}

.project-title{
    background-color: #EDEFF0;
}

.button-column-line{
    border: 1px solid #EDEFF0;
}

.button-column{
    border: 1px solid #F2526E;
    border-radius: 4px;
    color: #F2526E;
    background-color: transparent;
    padding: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 22px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.button-column:hover{
    background-color: #F2526E;
    color: white;
}

.button1{
    margin-left: 12px;
}

.button3{
    margin-left: 10px;
    margin-right: 14px;
}

.footer{
    background-color: #EDEFF0;
    border: #FAFAFA 1px solid;
    padding-top: 1em;
    padding-bottom: 1.5em;
    padding-left: 1.75em;
}
