.main-header {
    display: flex;
    align-items: center;
    background-color: #DC3545;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 24px;
    line-height: 3.5rem;
    padding-left: .5em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}

nav {
    height: 3.5rem;
}

#sidebar-nav {
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(220,53,69, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav img {
    height: 3rem;
    margin-right: 1rem;
}

#sidebar-links, #sidebar-links a {
    background-color: #FAFAFA;
}

#sidebar-links {
    padding-top: 3rem;
}

#sidebar-links li:hover {
    border: 1px solid #DC3545;
}

#sidebar-links li {
    line-height: 2em;
}

#sidebar-collapsable {
    margin-left: 0.5rem;
}

.main-side{
    border: 1px solid #EDEFF0;
    border-top: 0px;
}

.main-side .col-12{
    border: 1px solid #EDEFF0;
}

.project-section p{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.59px;
}

.sub-section ul{
    padding-right: 2rem;
}



.main-side-header img{
    width: 24px;
    margin-right: 1.2rem;
    margin-left: .5rem;
}

.main-side-header h4{
    display: inline;
    margin: 0;
    vertical-align: middle;
}

.informacion{
    border: 1px solid #EDEFF0;
    border-top: 0px;
}

.project-title{
    background-color: #EDEFF0;
}
.project-title h4{
    padding-left: 12px;
    font-size: 18px;
}

.button-column-line{
    border: 1px solid #EDEFF0;
}

.button-column{
    border: 1px solid #F2526E;
    border-radius: 4px;
    color: #F2526E;
    background-color: transparent;
    padding: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 22px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.button-column:hover{
    background-color: #F2526E;
    color: white;
}

.button1{
    margin-left: 12px;
}

.button3{
    margin-left: 10px;
    margin-right: 14px;
}

.tabla{
    padding-left: 0%;
    padding-right: 0%;
}

.tabla table{
    border-collapse: collapse;
    width: 100%;
}

.tabla th, td{
    padding-bottom: 7px;
    padding-left: 10px;
    padding-top: 9px;
    font-size: 18px;
}

.tabla th{
    background-color: #F5F5F5;
}

.subtotal{
    background-color: #EDEFF0;
}   

.tabla tr{
    border: 1px solid #EDEFF0;
}

.footer{
    background-color: #EDEFF0;
    border: #FAFAFA 1px solid;
    padding-top: 1em;
    padding-bottom: 1.5em;
    padding-left: 16px;
    margin-right: 0;
}
